{% extends 'base.html' %}

{% block content %}
{{ sat_name }}<br>
{{line1}}<br>
{{line2}}<br><br>
<div id="lat"></div>
<div id="long"></div>
<div id="hei"></div>
<script> 
// Initialize the satellite record with tle 
    const satrec = satellite.twoline2satrec(
        '{{ line1  }}', '{{ line2  }}'
    );
var date = new Date();
var positionAndVelocity = satellite.propagate(satrec,date);
var gmst = satellite.gstime(date);
var position = satellite.eciToGeodetic(positionAndVelocity.position ,gmst)

console.log(position.longitude);
console.log(position.latitude);
console.log(position.height);
console.log(satrec)
$("#lat").text(`Latitude - ${position.latitude}`)
$("#long").text(`Longitude - ${position.longitude}`)
$("#hei").text(`Height - ${position.height}`)



</script>


{% endblock %}
